.parent{
   /* padding: 25px; */
   background-color: blanchedalmond;
   display: flex;
   gap: 30px;
   justify-content: center;
   height: 350px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}




.child{
    border: 2px solid red;
    background-color: rgb(36, 141, 141);
    padding: 20px;
    font-size: 28px;
    /* margin: 10px 0; */
    /* display: inline; */
   
}